<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <title>New Score</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/games">Games</a>
          </li>
          <li>
            <a class="btn btn-danger" href="/logout" role="button">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <a class="btn btn-secondary" href="/users/<%=userUuid%>" role="button">Back</a>

      <div class="row">
        <div class="col">
          <h3>Available Games</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Game ID</th>
                <th scope="col">Game Title</th>
              </tr>
            </thead>
            <tbody>
              <% games.forEach(game => { %>
              <tr>
                <th scope="row"><%= game.id %></th>
                <td><%= game.title %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <div class="col">
          <h3>Input Score</h3>
          <form action="/scores/<%=userUuid%>" method="POST">
            <div class="form-group">
              <label for="gameid">Game ID (1 - <%=totalGames%>)</label>
              <input type="number" class="form-control" name="gameid" id="gameid" min="1" max="<%=totalGames%>" />
            </div>
            <div class="form-group">
              <label for="score">Score (0 - 100)</label>
              <input type="number" class="form-control" name="score" id=" score" min="0" max="100" />
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
