<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <title>Edit Game Data</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/games">Games</a>
          </li>
          <li>
            <a class="btn btn-danger" href="/logout" role="button">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <a class="btn btn-secondary" href="/games/<%=game.uuid%>" role="button">Back</a>

      <% if(typeof alert != 'undefined') { %> <% alert.forEach(function(error) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error.msg %>
        <span type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </span>
      </div>
      <% }) %> <% } %>

      <form action="/games/edit/<%=game.uuid%>" method="POST">
        <div class="form-row">
          <div class="form-group">
            <label for="uuid">UUID</label>
            <input type="text" class="form-control" name="uuid" id="uuid" placeholder="uuid" value="<%=game.uuid%>" readonly />
          </div>
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" id="title" placeholder="Title" value="<%= game.title %>" />
        </div>
        <div class="form-group">
          <label for="details">Details</label>
          <textarea class="form-control" name="details" id="details" placeholder="Put game details here..." cols="40" rows="5"><%= game.details %></textarea>
        </div>
        <div class="form-group">
          <label for="genre">Genre</label>
          <input type="text" class="form-control" name="genre" id="genre" placeholder="Genre" value="<%= game.genre %>" />
        </div>
        <div class="form-group">
          <label for="imglink">Image Link</label>
          <input type="text" class="form-control" name="imglink" id="imglink" value="<%= game.imglink %>" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
